<div class="jumbotron">
  <div class="container">
    <h1>Justin's Portfolio</h1>
    <p>A work of art this fine will take time, and will be updated soon</p>
    <p>But here is a convient location to quickly access some of my most predominate projects</p>

    <!-- <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up  &raquo;</a></p> -->

  </div>
</div>
<!-- Example row of columns -->
<div class="container col-md-10 col-md-offset-1">
  <div class="row">

    <div class="col-md-4">
      <h2><a href="https://project-03.herokuapp.com/">SF secrets</a></h2>
      <p></p>
    </div>

    <div class="col-md-4">
      <h2>The self building race game</h2>
      <p></p>
    </div>

    <div class="col-md-4">
      <h2><a href="https://at-some-point.herokuapp.com/">@-some-point</a></h2>
      <p></p>
    </div>

  </div>
</div>
