<div class="jumbotron">
  <div class="container">
    <h1>Justin Pettit</h1>

    <!-- <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up  &raquo;</a></p> -->

  </div>
</div>
<!-- Example row of columns -->
<div class="container col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-12">
      <p class="textorange">Load times for the below apps, are on a standby server, it may take up to 10 seconds to get a response from the server and load the app</p>
      <p class="textblue">Sample users have been created for any "Auth" applications. Simply click the "login" button in the applications</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2 class="link"><a href="https://project-03.herokuapp.com/">SF secrets</a></h2>
      <p>Find out the secrets in San Francisco by either clicking on the map icon, or the tag on the list. Log in, and create your own secrets. Built this from the ground up in 8 days. I utilized Angular abundantly in this app, and made all of my external API calls on the client side to minimize IP pings.</p>
    </div>

    <div class="col-md-3">
      <h2 class="link"><a href="https://banana-taco.herokuapp.com/">Vagabond</a></h2>
      <p>Find out what others think of three different cities by logging in and adding a post, or commenting on others posts. Built in Ruby and RoR, this group project was built in 4 days. I was responsible for project management, setting up a few controllers, database associations and debugging.</p>
    </div>

    <div class="col-md-3">
      <h2 class="link"><a href="https://at-some-point.herokuapp.com/">@-some-point</a></h2>
      <p>Figure out the shortest route to take among the destinations you need to travel. Our first team project. I was responsible for project management, building the controllers and most of the Sql database, setting up Auth, rendering the map, and making the external API call.</p>
    </div>

    <div class="col-md-3">
      <h2 class="link"><a href="https://wntprojects.herokuapp.com/">proBuilder</a></h2>
      <p>Track your projects, the members on those projects, and their assigned tasks. This is my first full stack project. Using MEN technology, I built this app from the ground up in 5 days. I wanted to build an app without using client side data and embedded data in MongoDB. I used pure jQuery DOM manipulation from the database to alter the UI.</p>
    </div>

  </div>
</div>
