// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background: image-url('ship.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  color: white;
}

.textorange {
  color: orange;
}

.textblue {
  color: blue;
}
